In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('./Datasheet.xlsx', index_col=0)
df.columns = [col.lower().strip().replace(' ', '_') for col in df.columns]

# Filter to valied trials
df = df[df['valid'] == 'yes']

# Drop useless cols
df = df.drop(columns=['trial',
                      'valid',
                      'visual_check',
                      'date',
                      'time',
                      'first_file',
                      'n_chunks',
                      'buried',
                    #   'mussel',
                      'sand_refreshed_before',
                      'hidden_while_placing',
                      'task_started_at',
                      'task_duration',
                      'flux_kind',
                      'flow_rate_(s/l)',
                      'underwater',
                      'lab_notes',
                      'behavior_notes',
                      'jumping',
                      'swimming',
                      'analysis_notes'
                      ])

df = df.rename(columns={
    'duration': 'duration_s',
    'length': 'length_cm'
})

df

,species,mussel,success,duration_s,x_food,y_food,x_food_cm,y_food_cm,x0,y0,length_cm,x_end,y_end,y_center_line_cm
0,carolinus,yes,1.0,356,534.0,1246.0,29.666667,69.222222,4.817753,18.141983,1104.848942,34.607152,67.244802,56.333333
1,carolinus,yes,1.0,122,637.0,630.0,35.388889,35.000000,17.999102,85.872131,433.746826,33.085723,36.110118,56.333333
3,carolinus,yes,1.0,268,643.0,620.0,35.722222,34.444444,12.823075,59.592258,1416.916765,36.022966,35.447572,56.333333
4,evolans,yes,1.0,661,658.0,943.0,36.555556,52.388889,5.319126,88.525890,4543.056089,36.952464,49.665507,56.333333
5,evolans,yes,0.0,900,649.0,1393.0,36.055556,77.388889,114.683745,74.100487,6364.168640,114.829843,7.314688,56.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,carolinus,yes,1.0,130,686.0,938.0,38.111111,52.111111,73.262127,34.288376,316.024184,38.292940,50.742564,56.333333
169,carolinus,yes,1.0,13,539.0,948.0,29.944444,52.666667,88.422053,38.096339,72.177781,29.141061,54.529210,56.333333
170,carolinus,yes,0.0,900,1652.0,1601.0,91.777778,88.944444,74.735262,31.414125,1172.260387,34.280056,52.711942,56.333333
171,carolinus,yes,1.0,6,1505.0,586.0,83.611111,32.555556,90.691412,13.026259,21.224204,84.601698,22.669662,56.333333
173,carolinus,yes,1.0,182,1700.0,1582.0,94.444444,87.888889,94.171709,32.580812,1027.528188,97.549749,89.458350,56.333333

In [6]:
max(df['duration_s'])

900

In [14]:
df

,TRIAL,Visual check,Valid,Date,Time,First file,N chunks,Buried,Species,Mussel,...,x_food,y_food,x_food_cm,y_food_cm,x0,y0,length,x_end,y_end,y_center_line_cm
0,1,NaN,yes,2022-11-09 00:00:00,10:10:00,GH012063.MP4,2.0,04:55:00,carolinus,yes,...,534.0,1246.0,29.666667,69.222222,4.817753,18.141983,1104.848942,34.607152,67.244802,56.333333
1,2,NaN,yes,2022-11-09 00:00:00,10:40:00,GH012065.MP4,1.0,01:14:00,carolinus,yes,...,637.0,630.0,35.388889,35.000000,17.999102,85.872131,433.746826,33.085723,36.110118,56.333333
2,3,NaN,no,2022-11-09 00:00:00,11:20:00,NaN,NaN,NaN,evolans,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.333333
3,4,NaN,yes,2022-11-09 00:00:00,15:00:00,GH012067.MP4,2.0,00:18:00,carolinus,yes,...,643.0,620.0,35.722222,34.444444,12.823075,59.592258,1416.916765,36.022966,35.447572,56.333333
4,5,NaN,yes,2022-11-09 00:00:00,15:35:00,GH012068.MP4,4.0,00:07:00,evolans,yes,...,658.0,943.0,36.555556,52.388889,5.319126,88.525890,4543.056089,36.952464,49.665507,56.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,170,NaN,yes,2022-11-23 00:00:00,11:40:00,GH012366.MP4,1.0,00:12:00,carolinus,yes,...,539.0,948.0,29.944444,52.666667,88.422053,38.096339,72.177781,29.141061,54.529210,56.333333
170,171,NaN,yes,2022-11-23 00:00:00,11:45:00,GH012367.MP4,3.0,00:14:00,carolinus,yes,...,1652.0,1601.0,91.777778,88.944444,74.735262,31.414125,1172.260387,34.280056,52.711942,56.333333
171,172,NaN,yes,2022-11-23 00:00:00,12:08:00,GH012368.MP4,1.0,00:10:00,carolinus,yes,...,1505.0,586.0,83.611111,32.555556,90.691412,13.026259,21.224204,84.601698,22.669662,56.333333
172,173,NaN,no,2022-11-23 00:00:00,12:12:00,GH012369.MP4,1.0,00:14:00,carolinus,yes,...,1149.0,1683.0,63.833333,93.500000,NaN,NaN,NaN,NaN,NaN,56.333333
173,174,NaN,yes,2022-11-23 00:00:00,12:25:00,GH012370.MP4,1.0,00:14:00,carolinus,yes,...,1700.0,1582.0,94.444444,87.888889,94.171709,32.580812,1027.528188,97.549749,89.458350,56.333333

,TRIAL,Visual check,Valid,Date,Time,First file,N chunks,Buried,Species,Mussel,...,x_food,y_food,x_food_cm,y_food_cm,x0,y0,length,x_end,y_end,y_center_line_cm
0,1,NaN,yes,2022-11-09 00:00:00,10:10:00,GH012063.MP4,2.0,04:55:00,carolinus,yes,...,534.0,1246.0,29.666667,69.222222,4.817753,18.141983,1104.848942,34.607152,67.244802,56.333333
1,2,NaN,yes,2022-11-09 00:00:00,10:40:00,GH012065.MP4,1.0,01:14:00,carolinus,yes,...,637.0,630.0,35.388889,35.000000,17.999102,85.872131,433.746826,33.085723,36.110118,56.333333
3,4,NaN,yes,2022-11-09 00:00:00,15:00:00,GH012067.MP4,2.0,00:18:00,carolinus,yes,...,643.0,620.0,35.722222,34.444444,12.823075,59.592258,1416.916765,36.022966,35.447572,56.333333
4,5,NaN,yes,2022-11-09 00:00:00,15:35:00,GH012068.MP4,4.0,00:07:00,evolans,yes,...,658.0,943.0,36.555556,52.388889,5.319126,88.525890,4543.056089,36.952464,49.665507,56.333333
5,6,NaN,yes,2022-11-09 00:00:00,16:16:00,GH012069.MP4,4.0,00:14:00,evolans,yes,...,649.0,1393.0,36.055556,77.388889,114.683745,74.100487,6364.168640,114.829843,7.314688,56.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,168,NaN,yes,2022-11-23 00:00:00,11:14:00,GH012364.MP4,1.0,00:13:00,carolinus,yes,...,686.0,938.0,38.111111,52.111111,73.262127,34.288376,316.024184,38.292940,50.742564,56.333333
169,170,NaN,yes,2022-11-23 00:00:00,11:40:00,GH012366.MP4,1.0,00:12:00,carolinus,yes,...,539.0,948.0,29.944444,52.666667,88.422053,38.096339,72.177781,29.141061,54.529210,56.333333
170,171,NaN,yes,2022-11-23 00:00:00,11:45:00,GH012367.MP4,3.0,00:14:00,carolinus,yes,...,1652.0,1601.0,91.777778,88.944444,74.735262,31.414125,1172.260387,34.280056,52.711942,56.333333
171,172,NaN,yes,2022-11-23 00:00:00,12:08:00,GH012368.MP4,1.0,00:10:00,carolinus,yes,...,1505.0,586.0,83.611111,32.555556,90.691412,13.026259,21.224204,84.601698,22.669662,56.333333
173,174,NaN,yes,2022-11-23 00:00:00,12:25:00,GH012370.MP4,1.0,00:14:00,carolinus,yes,...,1700.0,1582.0,94.444444,87.888889,94.171709,32.580812,1027.528188,97.549749,89.458350,56.333333